<section class="light" id="exp">
	<div class="container py-2">
		<div class="h4 text-center mb-4 title">Experience</div>

	
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/sqli.png" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><strong>SQLI</strong></h1>
				<div class="postcard__subtitle small">
					<div style="font-size: larger;">
						<i class="fas fa-calendar-alt mr-2"></i> 2 mois
					</div>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"><strong>UN stage de 2 mois au sein d'une multinationale
					en tant que développeur .net / Angular.
				   </strong></div>
			
			</div>
		</article>
		
	</div>
</section>