<section class="light" id="exp">
	<div class="container py-2">
		<div class="h4 text-center mb-4 title">Experience</div>
          <br/>
	
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/sqli.png" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><strong>SQLI</strong></h1>
				<div class="postcard__subtitle small">
					<div style="font-size: larger;">
						<i class="fas fa-calendar-alt mr-2"></i> 2 mois
					</div>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"><strong>UN stage de 2 mois au sein d'une multinationale
					en tant que développeur .net / Angular.
				   </strong></div>
			
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/IA.png" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><strong>ExData</strong></h1>
				<div class="postcard__subtitle small">
					
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"><strong>
					Une application d’extraction des entités (nom, prénom, téléphone, e-mail, adresse) à partir d’un texte non structuré <br/>
					les téchnologies utilisés (Python, Spacy, Streamlit)
				   </strong></div>
			
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/commerce.png" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><strong>Un site E-commerce </strong></h1>
				
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"><strong>les téchnologies utilisés (NodeJS, ExpressJs, RestFullApi, React, MongoDB )
				   </strong></div>
			
			</div>
		</article>
		
	</div>
</section>