<div class="section" id="about">
    <div class="container">
        <div class="h4 text-center mb-4 title ">About</div>
        <br/>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                     <div class="contenu1">
                        <div class=" h4 mt-0 pl-10 title2">
                            <div class="contenu12">
                            <p class="contenu21"><strong> À propos de moi </strong></p> 
                         </div>
                        </div>
                            <p align="justify">Je suis un élève ingénieur en informatique en troisième année cycle d'ingénieur à l'école Nationale des sciences Appliquées d'Oujda ENSAO, en ce qui concerne mes compétences professionnelles j'ai passé un stage de 2 mois au sein de l'entreprise SQLI en tant que développeur .net / Angular .</p>
                            <p align="justify">Pour en savoir plus sur moi, continuez à explorer mon site ou contactez-nous directement.</p>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title2">
                            <div class="contenu2"><p class="contenu21"><strong>Informations de base</strong></p> </div>
                        </div>
                        <div class="contenu3">
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date De Naissance</strong>
                            </div>
                            <div class="col-sm-8">09/02/2000</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email</strong>
                            </div>
                            <div class="col-sm-8">otmanekhouna07@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Numéro de portable</strong>
                            </div>
                            <div class="col-sm-8">+212 682845557</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase"> Adresse</strong>
                            </div>
                            <div class="col-sm-8">Oujda ,Maroc </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Langues</strong>
                            </div>
                            <div class="col-sm-8"> Français, Arab, Anglais</div>
                        </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

