$colorV : #7F00BB;
.title2{
    color: $colorV;

}

.contenu1 p{
  
    padding-top: 20px;
    padding-left: 50px;
}
.contenu2{
    padding-left: 100px;
    padding-bottom:20px;
}
.contenu3{
    padding-top: 1px;
    padding-left:50PX;
}