

<section class="light" id="educ">
	<div class="container py-2">
        <div class="h4 text-center mb-4 title">Education</div>
		<br/>
		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/ensao.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><strong>ENSAO </strong> </h1>
				<div class="postcard__subtitle small">
					<div style="font-size: larger;">
						<i class="fas fa-calendar-alt mr-2"></i>2019 - 2022 
					</div>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt" style="font-size: large;"><strong>3ème année en cycle d’ingénieur en filière genie
					Informatique</strong>
					</div>
			
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/cpge.png" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><strong>CPGE Moulay Driss</strong></h1>
				<div class="postcard__subtitle small">
					<div style="font-size: larger;">
						<i class="fas fa-calendar-alt mr-2"></i>2017 - 2019
					</div>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt" style="font-size: large;"><strong>Deux années préparatoires en filière PSI</strong>
					</div>			
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/med6.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><strong>Lycée Mohammed 6</strong></h1>
				<div class="postcard__subtitle small">
					<div style="font-size: larger;">
						<i class="fas fa-calendar-alt mr-2"></i>2016 - 2017
					</div>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"><strong>Baccalauréat scientifique</strong></div>
		
			</div>
		</article>
		
	</div>
</section>