
<section class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  site-title">
                <h3 class="title-text"><strong>Bonjour</strong></h3>
                <h1 class="title-text text-uppercase"><strong> JE SUIS OTMANE KHOUNA</strong> </h1>
                <h2 class="title-text text-uppercase"><strong>Elève Ingénieur En Informatique</strong> </h2>
                <a class="btn btn-primary smooth-scroll mr-2"id="idtest2"  href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><strong>Me contacter</strong></a>
                <a class="btn btn-primary" id="idtest"  href="https://drive.google.com/file/d/11GQh6zv1s0PM6hJf-OgYR9e27aM2R8tP/view" target="_blank"><strong class="insidecv">CV</strong></a>
                
            </div>
            <div class="col-lg-6  banner-image">
                <img src="../../../assets/images/1.png" alt="banner-img" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<div class="section2">
    <div class="container">
        <div class="button-container">
       
        
          
            <!-- <a class=" btn btn-default btn-round btn-lg btn-icon" style="background-color: #7F00BB;"  href="https://www.linkedin.com/in/otmane-khouna/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        
            <a class=" btn btn-default btn-round btn-lg btn-icon" style="background-color: #7F00BB;"   href="https://github.com/otmane07" target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
            </a>
             -->
     
            
        </div>
    </div>
</div>